[global]
index-url = https://pypi.doubanio.com/simple
trust-host = pypi.doubanio.com

;---------------------------------------------------
; $ cp ./pip.ini.sample ./venv/Scripts
; $ cd ./venv/Scripts
; $ mv ./pip.ini.sample ./pip.ini
;---------------------------------------------------

