pytest~=6.2.4
pytest-html
pytest-xdist
pytest-ordering
pytest-rerunfailures
allure-pytest
PyYAML~=5.4.1
requests~=2.26.0
urllib3~=1.26.6
pandas~=1.3.0
openpyxl~=3.0.7
Jpype1~=1.3.0
beautifulsoup4~=4.9.3
pymysql